// FLIP ANIMATION

.credit-card {
  background-color: transparent;
  perspective: 1000px;
}

.cover {
  position: relative;
  width: 100%;
  max-width: 430px;
  height: 100%;
  @media screen and (max-width: 600px) {
    height: 210px;
  }
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: auto;
  border-radius: 10px;
  // background-image: url(../images/24.jpeg);
  // background-position: center;
  // background-size: cover;
  backface-visibility: hidden;
}

.credit-card__img {
  position: absolute;
  top: 0;
  border-radius: 15px;
  z-index: -1;
  width: 100%;
  max-width: 430px;
  height: auto;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

// * {
//   backface-visibility: hidden;
// }

// .back > * {
//   backface-visibility: visible;
// }

// div.front > * {
//   backface-visibility: hidden;
// }
