.credit-card {
  background-color: transparent;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.cover {
  position: relative;
  width: 100%;
  max-width: 430px;
  height: auto;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  border-radius: 10px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.credit-card__img {
  position: absolute;
  top: 0;
  border-radius: 15px;
  z-index: -1;
  width: 100%;
  max-width: 430px;
  height: auto;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 570px;
}

.dropdown-menu {
  min-width: 0;
}

.form-group {
  width: 100%;
}

.btn-wide {
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.row .col-sm-8 {
  padding-left: 0;
}

.row .col-sm-6 {
  padding-left: 0;
  padding-right: 1.5rem;
}

@media screen and (max-width: 600px) {
  .row .row {
    width: 100%;
  }
  .row .col-sm-8 {
    padding-right: 0;
  }
  .row .col-sm-6 {
    width: 100%;
    padding: 0;
  }
  .row .custom-select {
    width: 100%;
  }
  .row .col-sm-4 {
    padding-left: 0;
  }
}

.col-6 {
  padding-left: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background-color: skyblue;
}

.cc-form {
  position: relative;
  width: 100%;
  border: 1px solid lightblue;
  border-radius: 10px;
  background-color: white;
  padding-top: 10em;
}

@media screen and (max-width: 600px) {
  .cc-form {
    border-radius: 0;
    height: 100%;
    padding-top: 65%;
  }
}

.cc-form__label {
  border: 1px solid;
}

.credit-card {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -25%;
  left: 10%;
  width: 80%;
  z-index: 1;
  color: white;
  line-height: normal;
  max-width: 100%;
  border-radius: 15px;
}

@media screen and (max-width: 600px) {
  .credit-card {
    position: absolute;
    top: 0;
    border-radius: 0;
    padding-top: 10%;
    margin-bottom: 10%;
  }
}

.credit-card__logo {
  position: absolute;
  width: 22%;
  height: auto;
  top: 8%;
  right: 4%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top right;
     object-position: top right;
}

.credit-card__chip {
  position: absolute;
  top: 25%;
  left: 10%;
  width: 15%;
  height: auto;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.credit-card__num, .credit-card__name, .credit-card__dates, .credit-card__cvv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.credit-card__num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.1rem;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 35%;
}

.credit-card__num .char {
  font-size: 1.7rem;
  min-width: 1.2rem;
}

@media screen and (max-width: 600px) {
  .credit-card__num .char {
    font-size: 1.3rem;
    min-width: 0.7rem;
  }
}

.credit-card .card-holder,
.credit-card .valid-thru {
  margin-top: 9%;
  margin-bottom: 4%;
}

@media screen and (max-width: 600px) {
  .credit-card .card-holder,
  .credit-card .valid-thru {
    margin-top: 6%;
  }
}

.credit-card .card-holder {
  margin-left: 5%;
  width: 70%;
}

.credit-card .valid-thru {
  margin-right: 5%;
}

.credit-card__name .forward-slash,
.credit-card__name .char, .credit-card__dates .forward-slash,
.credit-card__dates .char {
  font-size: 1.2rem;
  min-width: 0.7rem;
}

@media screen and (max-width: 600px) {
  .credit-card__name .forward-slash,
  .credit-card__name .char, .credit-card__dates .forward-slash,
  .credit-card__dates .char {
    font-size: 0.9rem;
    min-width: 0.4rem;
  }
}

.credit-card__label {
  font-size: 0.6rem;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .credit-card__label {
    font-size: 0.5rem;
    margin-bottom: -0.2rem;
  }
}

.credit-card__strip {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  padding-top: 1rem;
  background-color: black;
}

@media screen and (max-width: 600px) {
  .credit-card__strip {
    height: 5vh;
  }
}

.credit-card__white-box {
  position: relative;
  color: black;
  background-color: white;
  border-radius: 5px;
  height: 45px;
  width: 92%;
  padding: 0 10px;
  font-size: 1.4rem;
}

@media screen and (max-width: 600px) {
  .credit-card__white-box {
    margin-top: 0.25rem;
    height: 4.5vh;
    font-size: 1rem;
  }
}

.credit-card__signature {
  font-family: "Cedarville Cursive", cursive;
  text-transform: capitalize;
}

.credit-card__cvv {
  font-style: italic;
  font-size: 1rem;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.cvv-label {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 1rem;
  margin-right: 6%;
  margin-top: 8%;
}

@media screen and (max-width: 600px) {
  .cvv-label {
    font-size: 0.8rem;
    margin-right: 7%;
    margin-top: 5%;
  }
}

.moving-box {
  position: absolute;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 10px;
  z-index: 10;
}

.char {
  text-align: center;
}
/*# sourceMappingURL=index.css.map */