@import "flipAnimation";
@import "bootstrapOverrides";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  //   align-items: center;
  //   position: relative;
}

.cc-form {
  position: relative;
  align-self: center;
  justify-self: center;
  width: 100%;
  border: 1px solid lightblue;
  border-radius: 10px;
  // padding-top: 100px;
}

.cc-form__label {
  border: 1px solid;
  //   align-self: start;
}

// .col-sm-12 {
//   padding-left: 0;
// }

// .col {
//   padding-left: 0;
// }

.custom-select {
  margin-left: -15px;
}

.credit-card {
  position: relative;
  // margin-left: auto;
  // position: fixed;
  top: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 5%;
  z-index: 1;
  color: white;
  font-size: 1.2rem;
  // font-weight: bold;
  line-height: normal;

  max-width: 430px;
  height: 270px;
  // background-image: url("../images/24.jpeg");
  // background-position: center;
  // background-repeat: no-repeat;
  border-radius: 15px;

  //FRONT

  &__chip {
    width: 60px;
    height: 48px;
    border-radius: 15px;
    object-fit: cover;
  }

  &__num,
  &__name,
  &__dates,
  &__cvv {
    // margin-left: 25px;
    display: flex;
    flex-direction: row;
  }

  &__num {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;

    .char {
      min-width: 1rem;
    }
  }

  &__name,
  &__dates,
  &__cvv {
    .char {
      min-width: 0.5rem;
    }
  }

  &__exp {
  }

  &__logo {
    height: 50px;
    max-width: 100px;
    margin: 15px 12px;
    align-self: flex-end;
    object-fit: contain;
  }

  &__label {
    font-size: 0.6rem;
    text-transform: uppercase;
  }

  //BACK

  &__strip {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    padding-top: 1rem;
    background-color: black;
  }

  &__white-box {
    position: relative;
    color: black;
    background-color: white;
    border-radius: 5px;
    height: 45px;
    width: 92%;
    padding: 0 10px;
  }

  &__signature {
    font-family: "Cedarville Cursive", cursive;
    text-transform: capitalize;
  }

  &__cvv {
    font-style: italic;
    font-size: 1rem;
  }
}

.row {
  margin-right: 0;
  margin-left: 0;
}
.back {
  transform: rotateY(180deg);
}

.cvv-label {
  align-self: flex-end;
  font-size: 1rem;
}
