@import "flipAnimation";
@import "bootstrapOverrides";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: skyblue;
}

.cc-form {
  position: relative;
  width: 100%;
  border: 1px solid lightblue;
  border-radius: 10px;
  background-color: white;
  padding-top: 10em;

  @media screen and (max-width: 600px) {
    border-radius: 0;
    height: 100%;
    padding-top: 65%;
  }
}

.cc-form__label {
  border: 1px solid;
}

.credit-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // margin: 0 auto;
  top: -25%;
  left: 10%;
  width: 80%;
  z-index: 1;
  color: white;
  line-height: normal;
  max-width: 100%;
  border-radius: 15px;

  @media screen and (max-width: 600px) {
    position: absolute;
    top: 0;
    border-radius: 0;
    padding-top: 10%;
    margin-bottom: 10%;
  }

  //FRONT
  &__logo {
    width: 22%;
    height: 18%;
    margin-top: 5%;
    margin-right: 4%;
    align-self: flex-end;
    object-fit: cover;
  }

  &__chip {
    width: 15%;
    height: 20%;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 6%;
    margin-left: 10%;
  }

  &__num,
  &__name,
  &__dates,
  &__cvv {
    display: flex;
    flex-direction: row;
  }

  &__num {
    width: 100%;
    display: flex;
    justify-content: center;
    letter-spacing: 0.1rem;
    align-self: center;
    margin-bottom: 5%;

    .char {
      font-size: 1.6rem;
      min-width: 1rem;
    }

    @media screen and (max-width: 600px) {
      .char {
        font-size: 5.2vw;
        min-width: 3%;
      }
    }
  }

  &__name,
  &__dates {
    .char {
      font-size: 1.2rem;
    }

    @media screen and (max-width: 600px) {
      .forward-slash,
      .char {
        font-size: 4vw;
        min-width: 4%;
      }
    }
  }

  .card-holder {
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .valid-thru {
    margin-left: 35%;
    @media screen and (max-width: 600px) {
      margin-left: 30%;
    }
  }

  &__label {
    font-size: 0.6rem;
    text-transform: uppercase;

    @media screen and (max-width: 600px) {
      font-size: 0.5rem;
    }
  }

  //BACK

  &__strip {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    padding-top: 1rem;
    background-color: black;

    @media screen and (max-width: 600px) {
      height: 5vh;
    }
  }

  &__white-box {
    position: relative;
    color: black;
    background-color: white;
    border-radius: 5px;
    height: 45px;
    width: 92%;
    padding: 0 10px;
    @media screen and (max-width: 600px) {
      height: 4.5vh;
    }
  }

  &__signature {
    font-family: "Cedarville Cursive", cursive;
    text-transform: capitalize;
  }

  &__cvv {
    font-style: italic;
    font-size: 1rem;
  }
}

.row {
  margin-right: 0;
  margin-left: 0;
}
.back {
  transform: rotateY(180deg);
}

.cvv-label {
  align-self: flex-end;
  font-size: 1rem;
  @media screen and (max-width: 600px) {
    font-size: 0.8rem;
  }
}

.moving-box {
  position: absolute;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 10px;
  z-index: 10;
}
